.modal {
    --bs-modal-width: 600px;}

.mainbtn{
    display: flex;
    flex-direction: column;
}
.maincontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #E3B448;
    padding-top: 2rem;

}
.btn-primary {
width: 30rem;
margin: 1rem;
--bs-btn-color: #fff;
--bs-btn-bg: #3A6B35;
--bs-btn-border-color: #3A6B35;
--bs-btn-hover-color: #fff;
--bs-btn-hover-bg: #0b5ed7;
--bs-btn-hover-border-color: #0a58ca;
--bs-btn-focus-shadow-rgb: 49,132,253;
--bs-btn-active-color: #fff;
--bs-btn-active-bg: #0a58ca;
--bs-btn-active-border-color: #0a53be;
--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
--bs-btn-disabled-color: #fff;
--bs-btn-disabled-bg: #3A6B35;
--bs-btn-disabled-border-color: #3A6B35;
}
.maincard{
    width: 35rem;
}
.w-75 {
    width: 100%!important;
}
.card-body {
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card{
    background-color: #CBD18F;
    font-family: 'Brush Script MT', cursive;
    font-weight: bolder
}
.header{
    display: flex;
    justify-content: center;
    margin:0rem 0rem;
    background-color: #3A6B35;
    padding: 20px;
    font-family: 'Brush Script MT', cursive;
}
.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: var(--bs-modal-padding);
    background-color: #8AAAE5;
}
h1{
    color:antiquewhite;
}
.fs-5 {
    font-size: 1.25rem!important;
    color: black;
}
